* {
    box-sizing: border-box;
}


.thumbnail{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    border-radius: 4px;
}

.project-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.project-preview{
    padding: 10px;
    background-color: rgb(176, 176, 176);
}


.project-info-grid{
    display: grid;
    grid-template-columns: 100px 1fr;
}

.project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap: 40px;
}

.profile-picture{
    width: 40px;
    border-radius: 100px;
}

.thumbnail-row{
    margin-bottom: 12px;
}

.project-desc{
    font-size: 12px;
    color: rgb(49, 49, 49);
    border: 2px solid #000;
    padding: 10px;
    overflow-y: auto;
    line-height: 120%;
}

.join_button{
    display: block;
    height: 100%;
    background-color: white;
    border-color: rgb(6, 95, 212);
    border-style: solid;
    border-width: 1px;
    color: rgb(41, 118, 211);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .15s, color 0.15s;
    vertical-align: top;
}

.join_button:hover{
    background-color: rgb(6, 95, 212);
    color: white;
}

.join_button:active{
    opacity: 0.7;
}